<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--3-5-2019-->
    <!--production-->
    <!--<add name="HRMSEntities1" connectionString="metadata=res://*/LMS.csdl|res://*/LMS.ssdl|res://*/LMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.12\SQLEXPRESS;Initial Catalog=Recovered_hrmsnew;persist security info=True; User ID=Softprod;Password=Softprodigy$*!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--local-->
    <add name="HRMSEntities1" connectionString="metadata=res://*/LMS.csdl|res://*/LMS.ssdl|res://*/LMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.12\SQLEXPRESS;Initial Catalog=Recovered_hrmsnew_test;persist security info=True; User ID=Softprod;Password=Softprodigy$*!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>
    <!--local-->
    <add key="HRMSEntities1" value="Data Source=192.168.0.12\SQLEXPRESS;Initial Catalog=Recovered_hrmsnew_test;persist security info=True; User ID=Softprod;Password=Softprodigy$*!;"/>
    <!--production-->
    <!--<add key="HRMSEntities1" value="Data Source=192.168.0.12\SQLEXPRESS;Initial Catalog=Recovered_hrmsnew;persist security info=True; User ID=Softprod;Password=Softprodigy$*!;"/>-->
   <!-- <add key="HRMSEntities" value="Data Source=SERVER01\SQL2008R2;Initial Catalog=hrms; User ID=hrmslive;Password=hrmsPwD!@#$%^;"/>-->
    <!--<add key="Leaves" value="Leaves@softprodigy.com"/>-->
     <add key="Leaves" value="paramjeet_singh@softprodigy.com"/>
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network" from="do-not-reply@softprodigy.com">
        <network defaultCredentials="false" host="smtp.softprodigy.com" password="newpassw0rd" userName="do-not-reply@softprodigy.com" port="25" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp deliveryMethod="Network" from="do.not.reply@softprodigy.com">
        <network defaultCredentials="false" host="us2.smtp.mailhostbox.com" password="L^LDT(Z4" userName="do.not.reply@softprodigy.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".aspx" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".ascx" type="System.Web.Compilation.UserControlBuildProvider"/>
        <add extension=".master" type="System.Web.Compilation.MasterPageBuildProvider"/>
        <add extension=".asmx" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".ashx" type="System.Web.Compilation.WebHandlerBuildProvider"/>
        <add extension=".soap" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".resx" type="System.Web.Compilation.ResXBuildProvider"/>
        <add extension=".resources" type="System.Web.Compilation.ResourcesBuildProvider"/>
        <add extension=".wsdl" type="System.Web.Compilation.WsdlBuildProvider"/>
        <add extension=".xsd" type="System.Web.Compilation.XsdBuildProvider"/>
        <add extension=".js" type="System.Web.Compilation.ForceCopyBuildProvider"/>
        <add extension=".lic" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".licx" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".exclude" type="System.Web.Compilation.IgnoreFileBuildProvider"/>
        <add extension=".refresh" type="System.Web.Compilation.IgnoreFileBuildProvider"/>

      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" requestValidationMode="2.0"/>
    <sessionState cookieless="UseCookies" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="3600" timeout="3600"/>


    <authentication mode="Forms">
      <forms loginUrl="~/Default2.aspx" timeout="2880"/>
      <!--Modules/-->
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HRMSEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HRMSEntities" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HRMSEntities" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="TimelogSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://192.168.0.6/ams/timelog.asmx" binding="basicHttpBinding" bindingConfiguration="TimelogSoap" contract="ServiceReference1.TimelogSoap" name="TimelogSoap"/>-->
      <endpoint address="http://ams.softprodigy.local/timelog.asmx" binding="basicHttpBinding" bindingConfiguration="TimelogSoap" contract="ServiceReference1.TimelogSoap" name="TimelogSoap"/>
    </client>

  </system.serviceModel>
</configuration>
