<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRMSEntities" connectionString="metadata=res://*/LMS.csdl|res://*/LMS.ssdl|res://*/LMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12\SQLEXPRESS;initial catalog=RECOVERED_HRMSNEW_CORE1;persist security info=True;user id=Softprod;password=Softprodigy$*!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recovered_hrmsnew_AnilEntities" connectionString="metadata=res://*/LMS2.csdl|res://*/LMS2.ssdl|res://*/LMS2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12\SQLEXPRESS;initial catalog=Recovered_hrmsnew_Anil;persist security info=True;user id=Softprod;password=Softprodigy$*!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRMSEntities1" connectionString="metadata=res://*/LMS.csdl|res://*/LMS.ssdl|res://*/LMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12\SQLEXPRESS;initial catalog=Recovered_hrmsnew_Anil;persist security info=True;user id=Softprod;password=Softprodigy$*!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>